#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#account {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 130px;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #1f1a24;
} 

#rock {
  border-radius: 50%;
}
#rock:hover {
  box-shadow: 0 0 .2rem #d5a6a6,
  0 0 .2rem #d5a6a6,
  0 0 2rem #a7a6d5,
  0 0 0.8rem #a7a6d5,
  0 0 2.8rem #a7a6d5,
  inset 0 0 1.3rem #a7a6d5; 

}

#paper {
  border-radius: 50%;
  margin-left: 60px;
}

#paper:hover {

  box-shadow: 0 0 .2rem #d5a6a6,
  0 0 .2rem #d5a6a6,
  0 0 2rem #a7a6d5,
  0 0 0.8rem #a7a6d5,
  0 0 2.8rem #a7a6d5,
  inset 0 0 1.3rem #a7a6d5; 

}
#scissor {
  border-radius: 50%;
  margin-left: 60px;

}

#scissor:hover{
  box-shadow: 0 0 .2rem #d5a6a6,
  0 0 .2rem #d5a6a6,
  0 0 2rem #a7a6d5,
  0 0 0.8rem #a7a6d5,
  0 0 2.8rem #a7a6d5,
  inset 0 0 1.3rem #a7a6d5; 
}

#scissor active {
  box-shadow: 0 0 .2rem #d5a6a6,
  0 0 .2rem #d5a6a6,
  0 0 2rem #a7a6d5,
  0 0 0.8rem #a7a6d5,
  0 0 2.8rem #a7a6d5,
  inset 0 0 1.3rem #a7a6d5; 
}

#create-button {
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.pending-games{
  margin-top: 5px;
  margin-bottom: 5px;
}

#green-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #15fc00;
  }

  #gray-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: gray;
    }

  #status-check {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 110px;
  }

  #account-address{
    position: absolute;
    right: 17px;
  }

  #move-selection{
    top: 10px;
  }
