.dashboard-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f1c26;
    border-radius: 10px;
}

.summary {
    border-radius: 10px;
    text-align: left;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: px;
    padding-bottom: 10px;
    width: 400px;
    background-color: #53427a;
    display: flex;
}

.game-history{
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.games{
    width: 200px;
    padding: 20px;
    border: black;
    border-radius: 10px;
}

.win{
    background-color: #15fc00;
}

.loss{
    background-color: #fc0000;
}
.deuce{
    background-color: grey;
}
.game-child{
    white-space: nowrap;
}
