.dashboard-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f1c26;
    border-radius: 10px;
}

.summary {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #53427a;
    display: flex;
}

.summary-info{
    width: 25%;
    display: grid;
    grid-template-columns: center;
    margin-bottom: 10px;
}

.vertical-line{
    width: 1px;
    background-color: black;
}

.game-history{
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.games{
    width: 40%;
    border: black;
    border-radius: 10px;
}
.game{
    width: 250%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    margin-bottom: 1px;
    
}
.opponent{
    display: inline-block;
}

.date{
    padding-left: 10px;
}



.win{
    background-color: #4de03f;
}

.loss{
    background-color: #cd3d3d;
}
.deuce{
    background-color: #6f776d;
}



.pending-game{
    width: 250%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    margin-bottom: 1px;
    background-color: #53427a;
}



.game-child{
    white-space: nowrap;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
