.home-container {
    height: 550px;
    margin-top: 40px;
    border: 2px solid #1d1a24;
    border-radius: 10px;
    background-color: #1f1c26;
}

.play-ref {
    transition: background-color 0.3s ease;
    background-color: #911717;
}

.play-ref:hover {
    background-color: #4d228e;
}

.claim-ref {
    background-color: #4d228e;
}

@media screen and (max-width: 768px) {
    
}