.play-container {
  border-radius: 10px;
  background-color: #1f1c26;
}

.move-img{
  border-radius: 50%;
  margin: 60px;
}

.move-img:hover{
  box-shadow: 0 0 .2rem #d5a6a6,
  0 0 .2rem #d5a6a6,
  0 0 2rem #a7a6d5,
  0 0 0.8rem #a7a6d5,
  0 0 2.8rem #a7a6d5,
  inset 0 0 1.3rem #a7a6d5;   
}
  .button {
    background-color: #4d228e;
  }


  .button:hover {
    border-color: #4d228e;
    box-shadow: 0 0 .2rem #8d6ac8,
    0 0 .2rem #8d6ac8,
    0 0 2rem #8d6ac8,
    0 0 0.8rem #8d6ac8,
    0 0 2.8rem #8d6ac8,
    inset 0 0 1.3rem #8d6ac8; 
  }


  
  .selected {
    box-shadow: 0 0 .2rem #d5a6a6,
    0 0 .2rem #d5a6a6,
    0 0 2rem #a7a6d5,
    0 0 0.8rem #a7a6d5,
    0 0 2.8rem #a7a6d5,
    inset 0 0 1.3rem #a7a6d5; 
  }
  .create-button {
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .pending-games-container{
    padding-bottom: 10px;
  }

  .pending-games{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  
  .move-text{
      margin-top: 100px;
    }
  
  .move-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    }


  .pending-game-element {
    display: flex;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #4d228e;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 41.5%;
    border-radius: 10px;
  }
#join-button {
  margin-left: 5%;
  bottom: 5px;
  padding-bottom: 10px;
}

.game-creator{
  display: flex;
  align-items: center;
  max-width: 380px;
}

@media screen and (max-width: 768px) {
  .move-img{
    width: 100px;
  }
}