#account {
    position: absolute;
    top: 2px;
    right: 15px;
    width: 130px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #1d1a24;
  } 
  
  #green-circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #15fc00;
    }
  
    #gray-circle {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: gray;
      }
  
    #status-check {
      position: absolute;
      top: 10px;
      bottom: 10px;
      right: 110px;
    }
  
    #account-address{
      position: absolute;
      right: 17px;
    }
  

/* Navbar.css */

.navbar{
    position: relative;
    flex-direction: column; /* Stack components vertically */
  }
  
  /* Style the navigation links */
  ul {
    list-style: none;
    padding: 0;
    display: flex; /* Display links horizontally using flexbox */
  }
  
  li {
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-right: 40px; /* Add margin to separate each link */
    
  }

  li:hover {
    border-color: #3c3945;
    box-shadow: 0 0 .5rem #ac9bca,
    0 0 .5rem #ac9bca,
    0 0 5rem #ac9bca,
    0 0 0.8rem #ac9bca,
    0 0 2.8rem #ac9bca,
    inset 0 0 1.3rem #ac9bca; 
    cursor: pointer;
  }
  

  
  .navbar-text ul li a {
    pointer-events: onClick;
    text-decoration: none;
    color: white;
  }