
/* Navbar.css */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }
  

  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  li {
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-right: 40px;   
    
  }

  li:hover {
    box-shadow: 0 0 .2rem #8d6ac8,
    0 0 .2rem #8d6ac8,
    0 0 2rem #8d6ac8,
    0 0 0.8rem #8d6ac8,
    0 0 2.8rem #8d6ac8,
    inset 0 0 1.3rem #8d6ac8; 
    cursor: pointer;
  }
  

  

  .network{
    position: relative;
    left: 250px;
    width: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
    height: 30px;
    font-size: 15px;
    background-color: #1f1c26;
  }

  .account {
    position: relative;
    width: 130px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #1f1c26;/* previous: 1d1a24 */
    margin-left: 20px; 
  } 
  
.green-circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #15fc00;
    }
  
  .gray-circle {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: gray;
      }
  
    .status-check {
      position: absolute;
      top: 11px;
      bottom: 10px;
      right: 110px;
    }
  
    .account-address{
      position: absolute;
      top: 1px;
      right: 17px;
    }

    @media screen and (max-width: 768px) {
      .account{
        position: contain;
        width: 100px;
      }

      .network {
        width: 100px;
        margin-right: 200px;
      }


    }